body {
  background-color: lightcyan;
  margin: 0 auto;
  width: 800px;
}

ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 1px;
}

h1 {
  font-family: "puffin-arcade-nerf", sans-serif;
  font-size: 6rem;
  font-style: normal;
  color: black;
  margin: 15px 0px;
}

h3 {
  font-family: "puffin-arcade-level", sans-serif;
  font-style: normal;
  color:black;
  font-weight: 600;
  font-size: 2rem;
}

section img {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  margin-right: 20px;
}

nav a {
  color: rgb(81, 67, 93);
  font-size: 1,2em; /* ems are relative to the font size of the parent */
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  display: flex;
  list-style-type: none;
}


nav ul li {
  padding: 20px;
  color:rgb(0, 0, 0);
}

nav a:link, nav a:visited nav a:active {
  color: rgb(9, 8, 33); 
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: lightsteelblue;
  opacity:1;
  transition: all 0.3s ease;
}

#current {
  font-weight: bold;
}

section {
  margin :20px;
  border: 2px white;
  padding: 15px; /* padding pushes content away from the edge */
}

